html, body, #wrapper{
    height: 100%;
    width: 100%;
    margin: 0px;
}

#header{
    height: 15%;
    width: 100%;
}

#map-canvas{
    height: 80%;
    width: 70%;
    float:right;
    right:10%
}

#informationLabel{
    height: 80%;
    width: 20%;
    float:left;
    background-color:darkorange;
}

#titleHeader{
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    top: 5%;
    left: 50%;
    color: #000000;
    text-align: center;
}

#buttons{
    position:absolute;
    left: 90%;
    top: 20%;
}

#information{
    position:absolute;
    color: #000000;
    left: 5%;
    top: 5%;
}


button {
    background-color: #ffffd4;
    border: 1px solid #fe9929;
    color: #993404;

    display: block;
    height: 7em;
    width: 7em;

    /* padding is spacing inside the button (around the text)
    order of values: top right bottom left */
    padding: 0.5em 0.5em 0.5em 0.5em;

    outline: none;
    margin: 0 0 0.5em;
    border-radius: 3px;

    box-shadow: inset 0px -2px 7px -4px #fe9929;

    cursor: pointer;
}

/* a slight change of background color on hover */
button:hover {
    background-color: #fffacf;
}

/* change shadow to give the effect that the button is pressed */
button:active {
    box-shadow: inset 0px 2px 7px -4px #fe9929;
    outline: none;
}

/* fix for dotted outline on text in firefox */
button::-moz-focus-inner {
  border: 0;
}

