.maps {
	overflow:hidden;
}

.map {
    position: relative;
    float:left;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width:30%;
    padding-top:30%;
    height: 0;
    border-radius: 50%;
    transform: translateZ(0);
    margin:1.66%;
}

.details_wrap {
	position:relative;
	width:100%;
	height:46%;
}

.details {
	width:33.33%;
	height:100%;
	position: relative;
	float:left;
	background-color:#a1acc9;
}

#timeline {
	position: relative;
	width: 99%;
	height: 8%;
	background-color: #000000
}

html, body {
	height: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    color: #000000;
}

#place_name{
    text-align:center;
}